@font-face {
  font-family: "Norse-Bold";
  src: url(fonts/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-weight: 700;
}

.container {
  display: flex;
  height: 100vh;
}

.image-section {
  flex: 1;
  background-image: url(images/leaf-background.jpg);
  background-position: center;
  background-size: cover;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000066;
  color: white;
  font-family: "Norse-Bold", 'Times New Roman', Times, serif;
  font-size: 4rem;
  height: 100px;
  margin-top: 200px;
  padding: 10px;
  width: 100%;
}

.banner img {
  max-height: 100%;
}

.attribution,
.attribution > a {
  color: white;
  font-size: .8rem;
  font-weight: 100;
  text-align: center;
}

.form-section {
  flex: 2;
  padding: 15px;
}

.form-pair {
  display: flex;
}

.form-pair div {
  flex: 1;
}

.form-pair label {
  display: block;
}