@font-face {
  font-family: "Norse-Bold";
  src: url(fonts/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-weight: 700;
}

.form-pair {
  display: flex;
}

.form-pair div {
  flex: 1;
}

.form-pair label {
  display: block;
}