@font-face {
  font-family: "Norse-Bold";
  src: url(fonts/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-weight: 700;
}

.container {
  display: flex;
  height: 100vh;
}

.image-section {
  flex: 1;
}

.form-section {
  flex: 2;
}

.form-pair {
  display: flex;
}

.form-pair div {
  flex: 1;
}

.form-pair label {
  display: block;
}